.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Pour centrer verticalement */
}

.candidature-form {
  width: 50%; /* Ajuste cette largeur selon tes préférences */
  max-width: 600px; /* Limite la largeur maximale */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.text-danger {
  font-size: 0.875em;
  color: red;
}
