container {
  margin-top: 30px; /* Espacement supérieur */
}

h2 {
  margin-bottom: 20px; /* Espacement inférieur pour le titre */
}

.form-group {
  margin-bottom: 15px; /* Espacement entre les éléments du formulaire */
}

.btn-secondary {
  margin-top: 10px; /* Espacement supérieur pour les boutons d'ajout */
}

.text-danger {
  font-size: 0.9rem; /* Taille de la police pour les messages d'erreur */
}