<app-menu></app-menu>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form_main">
                <h4 class="heading"><strong>Créer une offre</strong> </h4>
                <div class="form">
                    <form  method="post" id="contactFrm" name="contactFrm">
                        <input type="text" required placeholder="Le titre de l'offre" name="name" class="txt form-control">
                        <br/>
                        <textarea style="height: 150px;" placeholder="La description de l'offre" name="mess" class="txt_3 form-control"></textarea>
                        <br/>
                        <select class="form-select">
                            <option>Selectionner votre type d'emploi</option>
                            <option>CDI</option>
                            <option>CDD</option>
                            <option>Stages</option>
                            <option>Alternance</option>
                        </select>
                        <br/>
                        <input type="submit" value="Enregistrer" name="soumettre" class="txt2 btn btn-primary w-100">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>