ag-grid-angular {
    width: 100%;
    height: 400px; /* Réduire la hauteur du tableau */
    margin-bottom: 20px; /* Ajouter un espacement entre le tableau et le bouton */
  }
  
  .create-button-container {
    margin-top: 20px;
    text-align: right; /* Aligner le bouton à droite */
  }
  
  .create-button-container .btn {
    font-size: 16px;
    padding: 10px 20px;
  }
  